[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BayesMFSurv"]
	path = BayesMFSurv
	url = https://github.com/nicolas-schmidt/bayesmfsurv
[submodule "esaps"]
	path = esaps
	url = https://github.com/nicolas-schmidt/esaps
[submodule "speech"]
	path = speech
	url = https://github.com/nicolas-schmidt/speech
